/*
    Old Template Overrides
    CAES Intranet 2016
*/

// Status Bar
//-----------

#statusBar {
    width: 100%;
    background: $light-gray;
    border: 1px solid $medium-gray;
    padding: 1em;
    font-size: .9rem;
    margin: 1em 0 1em 0;
}

// Headings
//---------

.main-content-area {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
        font-weight: bold;
    }
}


// Instructions
//-------------

p.instructions {
    border: 1px solid $medium-gray !important;
    padding: 1em;
    input[type=submit] {
        display: block;
        background: $red;
        color: $white;
        border: 0;
        padding: .5em;
        font-size: .9rem;
        font-weight: bold;
    }
}


// Head (h3) Section
//------------------

.head {
    background: $green !important;
    padding: .5em;
    color: $white;
    a {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: .9rem;
    }
}


// Forms
//------

div.formElement {
    margin: 0;
}


// Alignment Classes
//------------------

.rightAlign {
    float: right;
}
