/*
    Old Template Overrides
    CAES Intranet 2016
*/
// Status Bar
//-----------

#statusBar {
    width: 100%;
    background: $light-gray;
    border: 1px solid $medium-gray;
    padding: 1em;
    font-size: 0.9rem;
    margin: 1em 0;
}


// Headings
//---------

.main-content-area {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
        font-weight: bold;
    }
}


// Instructions
//-------------

p.instructions {
    border: 1px solid $medium-gray;
    padding: 1em;
}


// Submit Buttons
//---------------

input[type=submit] {
    display: block;
    background: $red;
    color: $white;
    border: 0;
    padding: 0.5em;
    font-size: 0.9rem;
    font-weight: bold;
}


// Head (h3) Section
//------------------

.head {
    margin: 1em 0 1em 0;
    background: $green;
    padding: 0.5em;
    color: $white;

    a {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
    }
}


// Alignment Classes
//------------------

.rightAlign {
    float: right;
}


// Personnel Investigator
//-----------------------

#caes-pi {
    margin-bottom: 2em;
}

#non-caes-pi-table td {
    padding-right: 10px;
}

span.radioStyle {
    float: left;
    clear: none;
}

.radioStyle label {
    color: $red;
    float: left;
    clear: none;
    padding: 5px;
    border: #8e8e8e 1px solid;
    margin-right: 5px;
}

.radioStyle label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.radioStyle input {
    float: left;
    clear: none;
}

#caes-pi,
#non-caes-pi {
    clear: both;
    background: $light-gray;
    padding: 7px;
    margin: 0;
    position: relative;
    top: -5px;
    border: 1px solid $medium-gray;
}

label.selected-tab {
    background: $light-gray;
    margin-bottom: 0;
    border: 1px solid $medium-gray;
}
