/*
    CAES Apps & Intranet Print Styles
*/
@media print {
	#mobileNavToggle,
	.alert-bar,
	.alert-bar-close,
	.side-nav,
	footer,
	header,
	a[href="#top"],
	.helpButton,
	nav {
		display: none !important;
	}

	body,
	main {
		width: 100%;
	}

	table,
	td,
	th {
		border-collapse: collapse;
		border: 1px solid black;
		// width: 100%;
		// text-align: right;
	}
	a[href]:after{content:none}
}

.noPrinting {
	@media print {
		display: none;
	}
}
