/*
    Main Template CSS
    CAES Intranet 2016
*/

// Color Variables
//----------------

$red: #BA0C2F;
$gray: #777;
$light-gray: lighten($medium-gray, 10%);
$medium-gray: #cacaca;
$dark-gray: #3e3e3e;
$green: #339966;
$yellow: #ffa02f;
$blue: #0083aa;
$green: #339966;

// Element-Specific Color Variables
//---------------------------------

$side-nav-bg: lighten($light-gray, 7%);
$footer-bg: $side-nav-bg;

// Typography
// ----------

// Roboto ()
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// font-family: 'Roboto', sans-serif;

// Nunito (Avenir Alternative)
// @import url(https://fonts.googleapis.com/css?family=Nunito:300,500);
// font-family: 'Nunito', sans-serif;

// Montserrat
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$montserrat: 'Montserrat', 'Roboto', sans-serif;

// Roboto Slab
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
// font-family: 'Roboto Slab', serif;


// Headings
// --------

h1, h3, h4, h5, h6 { font-family: 'Roboto Slab', serif; }
h2 {
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-weight: 700;
   margin-top: .5em;
}


// Header
//-------

header {
    background: $dark-gray;
    padding: 1em 0 1em 0;
    // Intranet Title / Main Site Title
    .site-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: $white;
        font-size: 3em;
        line-height: 1;
        // Font Reduction for Small Screens
        @include breakpoint(small only) {
            font-size: 2em;
        }
    }
}

// Horizontal Nav Section
//-----------------------

.main-nav {
    background: $dark-gray;
    height: 4em;
    line-height: 4em;
    a {
        color: $white;
        font-weight: bold;
    }
}

// Links/Anchors
//--------------
.main-content-area a {
    text-decoration: underline;
}

// Side Nav (localnav)
//--------------------

.side-nav {
    margin-top: 2em;
    background: $white;
    border-top: 1px solid $light-gray;
    // border-left: 1px solid $medium-gray;
    // border-right: 1px solid $medium-gray;
    // border-bottom: 1px solid $medium-gray;
    .localnav {
        list-style: none;
        margin: 0;
        padding: 0 0 1em 0;
        // Top Level Items
        li {
            background: $side-nav-bg;
        }
        // Top Level Item Links
        li a {
            display: block;
            padding: .5em 1em .5em 1em;
            width: 100%;
            font-weight: bold;
            border-bottom: 2px solid $red;
            transition: 180ms ease background;
            &:hover, &:focus {
                background: $light-gray;
            }
            &:active {
                background: $medium-gray;
            }
        }
        // Override for ".back" Style
        .back {
            a {
                font-weight: normal;
                border-bottom: none;
            }
        }
        // Second Level Menu
        li ul {
            margin: 0;
            // padding: 0;
        }
        // Second Level Menu Items
        li ul li {
            list-style: none;
            background: $white;
        }
        // Second Level Menu Item Links
        li ul li a {
            padding: .5em 1em .5em 1em !important;
            font-weight: normal;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $light-gray;
        }
        // Hide For Small Screens
        @include breakpoint(small only) {
            display: none;
        }
    }
    #localNavToggle {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-gray;
        font-size: 1rem;
    }
}


// Main Content Area
//------------------

.main-content-area {
    // margin-top: .1em;
    padding: 1em;
}

main {
    margin-bottom: 25em;
}


// Footer
//-------

footer {
    border-top: 1px solid $medium-gray;
    background: $footer-bg;
    padding: 1em;
}


// Public Color
//-------------
.public {
    background: $light-gray !important;
    color: $dark-gray !important;
    .site-title {
        color: $dark-gray;
    }
    a {
        color: $dark-gray;
    }
}
