/*
    Main Template CSS
    CAES Intranet 2016
*/

// Color Variables
//----------------

$red: #BA0C2F;
$gray: #777;
$light-gray: lighten($medium-gray, 10%);
$medium-gray: #cacaca;
$dark-gray: #3e3e3e;
$green: #339966;
$yellow: #ffa02f;
$blue: #0083aa;
$green: #339966;

// Element-Specific Color Variables
//---------------------------------

$side-nav-bg: lighten($light-gray, 7%);
$footer-bg: $side-nav-bg;

// Typography
// ----------

// Roboto ()
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// font-family: 'Roboto', sans-serif;

// Nunito (Avenir Alternative)
// @import url(https://fonts.googleapis.com/css?family=Nunito:300,500);
// font-family: 'Nunito', sans-serif;

// Montserrat
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$montserrat: 'Montserrat', 'Roboto', sans-serif;

// Roboto Slab
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
// font-family: 'Roboto Slab', serif;


// Headings
// --------

h1, h3, h4, h5, h6 { font-family: 'Roboto Slab', serif; }
h2 {
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-weight: 700;
   margin-top: .5em;
}
h3 {
    margin-top: 1em;
}


// Header
//-------

header {
    background: $dark-gray;
    padding: 1em 0 1em 0;
    // CAES Branding & Logos
    .caes-branding {
        max-width: 270px;
        width: 100%;
        @include breakpoint(small only) {
            display: none;
        }
    }
    // Intranet/Apss Tagline
    .site-tagline {
        margin-top: .4em;
        text-transform: uppercase;
        display: block;
        color: $white;
        // Font Reduction for Small Screens
        @include breakpoint(small only) {
            font-size: .8rem;
        }
    }
    // App Title
    .site-title {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: $white;
        font-size: 2em;
        line-height: 1em;
        // Font Reduction for Small Screens
        @include breakpoint(small only) {
            font-size: 1.5em;
        }
    }
}

// Horizontal Nav Section
//-----------------------

.main-nav {
    background: $dark-gray;
    height: 4em;
    line-height: 4em;
    a {
        color: $white;
        font-weight: bold;
    }
}

// Links/Anchors
//--------------
.main-content-area a {
    text-decoration: underline;
}

// Side Nav (localnav)
//--------------------

.side-nav {
    background: $white;
    .localnav {
        margin-top: 2em !important;
        list-style: none;
        margin: 0;
        padding: 0 0 1em 0;
        // Top Level Items
        li {
            background: $side-nav-bg;
        }
        // Top Level Item Links
        li a {
            display: block;
            padding: .5em 1em .5em 1em;
            width: 100%;
            font-weight: bold;
            border-bottom: 2px solid $red;
            transition: 180ms ease background;
            &:hover, &:focus {
                background: $light-gray;
            }
            &:active {
                background: $medium-gray;
            }
        }
        // Override for ".back" Style
        .back {
            a {
                font-weight: normal;
                border-bottom: none;
            }
        }
        // Override for status bar
        #statusBar a {
            border-bottom: none;
            font-weight: normal;
            padding: 0;
            display: inline;
            width: auto;
        }
        // Second Level Menu
        li ul {
            margin: 0;
            // padding: 0;
        }
        // Second Level Menu Items
        li ul li {
            list-style: none;
            background: $white;
        }
        // Second Level Menu Item Links
        li ul li a {
            padding: .5em 1em .5em 1em !important;
            font-weight: normal;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $light-gray;
        }
        // Third Level Menu Items
        li ul li ul li {
        }
        // Third Level Menu Item Links
        li ul li ul li a {
            padding-left: 2.5em !important;
        }
        // Hide For Small Screens
        @include breakpoint(small only) {
            display: none;
            margin-top: 0em !important;
        }
    }
}

// Mobile Navigation Toggle Button
//--------------------------------

.mobile-nav-container {
    background:pink;
    z-index: -10;
    position: relative;
}

// Button Toggle
#mobileNavToggle {
    background: $side-nav-bg;
    margin: 0;
    width: 100%;
    display: block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    float: left;
    position: relative;
    z-index: 0;
    // Link Text
    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-gray;
        margin-left: 30px;
    }
    // Arrow Image (#arrowToggle)
    img {
        width: 30px;
        height: 30px;
        float: right;
        position: relative;
        z-index: 10;
        margin-top: .6em;
    }
}


// Collapsed Navigation
//---------------------
// This is used when the template is full width and the sidebar is hidden

// Collapsed Nav Containing Div
.collapsed-nav-container {
    width: 100%;
    background: $side-nav-bg;
    border-bottom: solid 1px $medium-gray;
}

// Button That Toggles the Collapsed Nav
#collapsedNavToggle {
    @extend #mobileNavToggle;
    transition: 180ms ease background;
    color: $white;
    background: darken($side-nav-bg, 5%);
    border-left: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
    &:hover {
        background: darken($side-nav-bg, 10%);
        cursor: pointer;
    }
}

// Collapsed Nav
.collapsed-nav {
    display: none;
    @extend .side-nav;
    .localnav {
        @extend .localnav;
        text-align: left;
        margin: 0 !important;
        border-right: 1px solid $medium-gray;
        border-left: 1px solid $medium-gray;
        // Hide For Small Screens
        @include breakpoint(small only) {
            display: block !important;
            margin-top: 0em !important;
        }
    }
}



// Main Content Area
//------------------

.main-content-area {
    // margin-top: .1em;
    padding: 1em;
}

main {
    margin-bottom: 5em;
}


// Footer
//-------

footer {
    border-top: 1px solid $medium-gray;
    // background: $footer-bg;
    padding: 1em;
}


// Public Color
//-------------
.public {
    background: $light-gray !important;
    color: $dark-gray !important;
    .site-title, .site-tagline {
        color: $dark-gray;
    }
    a {
        color: $dark-gray;
    }
}
